body {
  background-color: #F6F6F6;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto auto;
  background-color: #fff;
  width: 70%;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

